{% extends '_base.html' %}


{% block content %}

    {% if user.is_authenticated %}
        
        {{ user.email }}
        <a href="{% url 'account_logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'account_login' %}">Log in</a>
        
    {% endif %}

    <div>
        {% for product in products  %}
            <p>{{product.name}}</p>   
            <p>Cat : {{product.cat}}</p>     
            <p>{{product.brand}}</p>      
            <p>{{product.description}}</p>      
            <p>{{product.price}}</p>      
           
            <p>{{product.size_foot.all}}</p>      
        
            {% for size in product.size_clothes.all %}
                <p>{{ size.amount }}</p>
            {% endfor %}
        {% endfor %}
        
        
    </div>
{% endblock content%}